/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


img, iframe, video, object {
  max-width: 100%;
}

.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}

.grouping::after {
  clear: both;
}

nav {
	background-color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1)
}

nav img {
	width: 10em;
	top: 20px;
	left: 50px;
	position: absolute;
	animation: fastCar 2.5s ease;
}

@keyframes fastCar {
	0% {-webkit-transform: translate(0%)}
	25% {-webkit-transform: translate(90%, 70%)}
	50% {-webkit-transform: translate(40%, 20%)}
	75% {-webkit-transform: translate(10%, 50%)}
	100% {-webkit-transform: translate(0%)}
}

.nav-links {
	float: right;
}

.nav-links > li {
	float: left;
}

.nav-links > li > a {
	padding: 1.5em 0em;
	width: 10em;
	border-left: 1px solid #ada791;
	float:left;
}

.nav-links > li:first-child > a {
	border-left: none;
}

.has-submenu ul {
	position:absolute;
	z-index: 5;
	top: 4em;
	width: 10em;
	background-color: #fff;
	border-left: 1px solid #ada791;
	border-right: 1px solid #ada791;
	border-bottom: 1px solid #ada791;
	border-radius: 0 0 1em 1em;
	overflow: hidden;
	display: none;
}

.has-submenu:hover ul {
	display: block;
	-webkit-animation-name: slideDown;
	-webkit-animation-duration: .55s;
	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes slideDown {
	0% {transform: translateY(-100%); opacity: 0;}
	95% {transform: translateY(10%);}
	100% {transform: translateY(0%); opacity: 1;}
}

.has-submenu a {
	display: block;
	padding: 1.5em;
	position: relative;
	z-index: 10;
}

nav li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #766e65;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	transition: 0.15s background-color linear;
}

nav li a:focus,
nav li a:hover,
nav li a:active {
	background-color: #eb2428;
	color: #fff;
}

.header {
	background-color: #DCDCDC;
	margin-top: 50px;
}

.header__description {
	float: left;
	margin: 50px 3%;
}

.header__description h1 {
  font-size: 2em;
  font-style: italic;
  line-height: 1.4;
  font-weight: bold;
  color: #0072ae;
  text-align: center;
}

.header__go-premium {
	float:right;
	width: 35%;
	margin-top: 50px;
}

.header__go-premium a {
	display: block;
}

.header__go-premium__action-button {
	border: 2px solid #fff;
	padding: 15px 3%;
	display: block;
	text-align: center;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 74%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 74%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.header__go-premium__action-button:hover {
	color: #0072ae;
	background: none;
}

.body {
  margin: 3%;
}

/*.content-block img {
  float: right;
}*/

.button {
	border: 2px solid #333;
	color: #333;
	padding: 10px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	transition: .25s all linear;
}

.button:hover {
	background-color: #333;
	color: #fff;
	transform: scale(1.05,1.05);
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
	width: 90%;
}

.clear {
  clear: both;
}

.content-block {
  float: left;
  width: 31.25%;
  margin-left: 3.125%;
}

.content-block:first-child {
  margin-left: 0;
}

.content-block__figure {
	float:left;
	border: 5px solid #333;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.content-block__figure img {
	transition: .35s all ease-in-out;
}

.content-block__figure img:hover {
	transform: rotate(-45deg) scale(1.5,1.5);
}

.footer {
  margin: 2em;
}
