/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}

.grouping::after {
  clear: both;
}

nav {
	background-color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

nav img {
	width: 10em;
	top: 20px;
	left: 50px;
	position: absolute;
}

.nav-links {
	float: right;
}

.nav-links > li {
	float: left;
}

.nav-links > li > a {
	padding: 25px 0px;
	width: 150px;
	border-left: 1px solid #ada791;
	float:left;
}

.nav-links > li:first-child > a {
	border-left: none;
}

nav li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #766e65;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	transition: 0.15s background-color linear;
}

nav li a:focus,
nav li a:hover,
nav li a:active {
	background-color: #eb2428;
	color: #fff;
}

.header {
	background-color: #DCDCDC;
	margin-top: 50px;
}

.header h1 {
  font-size: 2em;
  font-style: italic;
  line-height: 1.4;
  font-weight: bold;
  color: #0072ae;
  text-align: center;
  width: 300px;
  padding: 50px;
  margin: 50px;
  border: 10px solid blue;
  box-sizing: border-box;
}

.header-title {
  font-style: oblique;
}

#header-title-element {
  font-style: normal;
}

span {
  background-color: green;
  width: 300px;
  margin-left: 50px;
  border-radius: 10px;
}

.header__description {
	float: left;
}

.header__go-premium {
	float:left;
	margin-top: 100px;
}

.header__go-premium a {
	display: block;
}

.header__go-premium__action-button {
	border: 2px solid #fff;
	padding: 15px 0px;
	margin: 0px 15px;
	display: block;
	text-align: center;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 74%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 74%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.header__go-premium__action-button:hover {
	color: #0072ae;
	background: none;
}

.body {
  margin: 2em;
}

/*.content-block img {
  float: right;
}*/

.button {
	border: 2px solid #333;
	color: #333;
	padding: 10px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	transition: .25s all linear;
}

.button:hover {
	background-color: #333;
	color: #fff;
	transform: scale(1.05,1.05);
}

.figure {
	float:left;
	border: 5px solid #333;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.figure img {
	transition: .35s all ease-in-out;
}

.figure img:hover {
	transform: rotate(-45deg) scale(1.5,1.5);
}

.wrapper {
  margin: 0 auto;
  width: 60em;
}

.clear {
  clear: both;
}

.content-block {
  float: left;
  width: 18em;
  margin-left: 2em;
}

.content-block:first-child {
  margin-left: 0em;
}

/*.content-block h1 {
  background: #567467;
}

.content-block p {
  background: #867467;
  clear: right;
}*/

.footer {
  margin: 2em;
}

a img {
  width: 10em;
  height: 10em;
}
